body {
  background-color: #bdc3c7;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

#containerHTB {
  background-color: #ff6961;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin-top: 20px;
}

#containerOH {
  background-color: #ffb480;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin: 20px 0;
}

#containerGBST {
  background-color: #f8f38d;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin-bottom: 20px;
}

#containerJadwalOperasi {
  background-color: #42d6a4;
  padding-top: 20px;
}

.paddingContainerJadwalOperasi {
  padding-bottom: 20px;
}

#containerKetikanPanggilOH {
  background-color: #08cad1;
  padding: 20px 0px;
}

#containerRmkOH {
  background-color: #59adf6;
  padding: 20px 0px;
}

#containerKetikanPanggilGBST {
  background-color: #9d94ff;
  padding: 20px 0px;
}

#containerRmkGBST {
  background-color: #c780e8;
  padding: 20px 0px;
}

#selesai {
  background-color: white;
  padding: 20px 0px;
  width: 50%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.none {
  display: none !important;
}

.marginZero {
  margin-bottom: 0;
}

#paddingBantuan {
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.pengaturanForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#containerJadwalOperasi,
#containerKetikanPanggilOH,
#containerRmkOH,
#containerKetikanPanggilGBST,
#containerRmkGBST {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 320px;
  border: 4px solid #34495e;
  border-radius: 20px;
  margin-bottom: 20px;
}

#tombolHTB, #tombolOH, #tombolGBST {
  align-self: center;
}

.aturMargin {
  margin-bottom: 5px;
}

.aturMarginH1 {
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1em;
  }
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 1em;
  }
}
